@* create Template File *@
@(postForm: Form[Post])
@import helper._
@import views.html.partials._postsFormFields
@layout("create post"){
	<h1>create post</h1>
@helper.form(action=routes.PostsController.save()){
@_postsFormFields(postForm)
             <script>
                CKEDITOR.replace( 'body', {height: 164} );
            </script>
<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i>Create Post</button>


}
}
